<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count">
    Pedientes: <strong>{{ tareasPendientes }}</strong>
  </span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li (click)="cambiarFiltro(item)" *ngFor="let item of filtrosValidos">
      <a [ngClass]="{ selected: (filtroActual$ | async) === item }" href="#/">{{
        item
      }}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="limpiarCompletados()">Clear</button>
</footer>
