<li [ngClass]="{ completed: todo.completado, editing: editando }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [formControl]="checkField"
      [checked]="todo.completado"
    />
    <label (dblclick)="editar()">{{ todo.texto }}</label>
    <button class="destroy" (click)="deleteTodo()"></button>
  </div>
  <input
    class="edit"
    [value]="todo.texto"
    [formControl]="textInput"
    (keyup.enter)="terminarEdicion()"
    (blur)="terminarEdicion()"
    #txtInputFisico
  />
</li>
