<header class="header">
  <h1>Por hacer</h1>
  <input
    class="new-todo"
    placeholder="¿Qué hay por hacer?"
    autofocus
    [formControl]="this.todoInput"
    (keyup.enter)="addTodo()"
  />
</header>
