<section class="todoapp">
  <app-todo-add></app-todo-add>

  <section class="main">
    <input
      (click)="toggleAll()"
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
    />
    <label for="toggle-all">Mark all as complete</label>

    <app-todos-list></app-todos-list>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <app-todo-footer></app-todo-footer>
</section>
